<header class="flex items-center justify-between">
  <div class="flex items-center">
    <img src="./static/Data/icon.png" alt="Company Logo" class="h-10 mr-3">
    <span class="text-lg font-bold">Smile :)</span>
  </div>
  <nav class="flex space-x-8"> <!-- Increased space between icons -->
    <a href="/dashboard" class="text-white hover:text-gray-200" title="Health Dashboard">
      <i class="fas fa-heartbeat text-xl"></i> <!-- Increased icon size -->
    </a>
    <a href="/disease_detection" class="text-white hover:text-gray-200" title="Disease Detection">
      <i class="fas fa-diagnoses text-xl"></i> <!-- Increased icon size -->
    </a>
    <a href="/health_recommendations" class="text-white hover:text-gray-200" title="Health Recommendations">
      <i class="fas fa-stethoscope text-xl"></i> <!-- Increased icon size -->
    </a>
    <a href="/virtual_coaching" class="text-white hover:text-gray-200" title="Virtual Coaching">
      <i class="fas fa-user-md text-xl"></i> <!-- Increased icon size -->
    </a>
    <a href="/profile" class="text-white hover:text-gray-200 pr-4" title="Profile">
      <i class="fas fa-user text-xl"></i> <!-- Increased icon size -->
    </a>
  </nav>
</header>
