<header class="flex items-center justify-between">
    <div class="flex items-center">
      <img src="./static/Data/icon.png" alt="Company Logo" class="h-10 mr-3">
      <span class="text-lg font-bold">Smile :)</span>
    </div>
    <nav class="flex space-x-4">
      <a href="/dashboard" class="text-white hover:text-gray-200">Health Dashboard</a>
      <a href="/disease_detection" class="text-white hover:text-gray-200">Disease Detection</a>
      <a href="/health_recommendations" class="text-white hover:text-gray-200">Health Recommendations</a>
      <a href="/virtual_coaching" class="text-white hover:text-gray-200">Virtual Coaching</a>
      <a href="/profile" class="text-white hover:text-gray-200">Profile</a>
    </nav>
  </header>
  